<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Calender</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" style="width: 100%;height: 720px" th:src="@{/takvim}" allowfullscreen></iframe>
    </div>
</th:block>
</body>
</html>